<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}{% endblock %}</title>
        {% load static %}    
        <link rel="stylesheet" href={% static "css/index.css" %} />
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.0/font/bootstrap-icons.css"
        />
    </head>
    
    <body data-media-url="{% get_media_prefix %}">
        <header class="header">
            <div class="container">
                <nav class="header__nav nav">
                    <ul class="nav__list">
                        <li class="nav__item">
                            <a href="/" class="nav__link">Главная</a>
                        </li>
                    </ul>
                    {% block search %}{% endblock %}
                </nav>
            </div>
        </header>

        <main class="main">
            <div class="container">
                {% block content %}{% endblock %}
                {% comment %} <div class="main__pagination"></div> {% endcomment %}
            </div>
        </main>

        <footer class="footer">
            <div class="cointainer"></div>
        </footer>
    </body>
</html>
