{% extends 'base.html' %} {% load static %} 
{% block title %}Encription{% endblock %} 

{% block search %}
<form class="nav__search search" action="{% url 'getDataList' %}" method='GET'>
    <input
        name="data_search"
        type="search"
        class="search__input"
        placeholder="Поиск"
        maxlength="100"
        {% if data_search %}
            value={{ data_search }} 
        {% else %}
            value=""
        {% endif %}
    />
    <button class="btn btn-primary search__button">Поиск</button>
</form>
{% endblock %}

{% block content %}
<div class="cards">
    {% for data_item in data.data_list %}
    <div class="card">
        <div class="card__wrapper">
            <div class="card__image-container">
                <div class="card__image">
                    {% comment %} <i class="{{ data_item.img }} card__icon"></i> {% endcomment %}
                    <img src="{% static  data_item.img %}" alt="" class="card__img">
                </div>
            </div>
            <div class="card__content">
                <p class="card__title">{{ data_item.title }}</p>
                {% comment %} <p class="card__cost">{{data_item.cost}}&#8381;</p> {% endcomment %}
                <div class="card__buttons">
                    <a class="btn btn-primary card__more" href="{% url 'data_item' data_item.id %}">Подробнее</a>
                    <a class="btn btn-secondary card__add"><i class="bi bi-plus" style="font-size: 2em"></i></a>
                </div>
            </div>
            <p data-encripted="{% if data_item.encription_status == 'Оригинал' %}True{% else %}False{% endif %}" class="encription-status card__status"> {{ data_item.encription_status }} </p>
        </div>
    </div>
    {% empty %}
    <p>Нет услуг</p>
    {% endfor %} 
</div>
{% endblock %}