{% extends 'base.html' %}
{% load static %}
{% block title %}{{data.data_item.title}}{% endblock %}

{% load getType %}
{% load isInstance %}

{% block content %}
<div class="data-item">
    <div class="data-item__container">
        {% if data.data_item.data_type != 'Изображение' %}
        <div class="data-item__image-container">
            <div class="data-item__image">
                <img src="{{ data.data_item.img.url }}" alt="" class="data-item__img">
            </div>
        </div>
        {% endif %}
        <div class="data-item__content">
            <p class="data-item__title">{{ data.data_item.title }}</p>
            {% if data.data_item.data_type == 'Текстовый файл' %}
                <p class="data-item__description">{{ data.information }}</p>
            {% else %}
                <div class="data-item__content-image-container">
                    <img src="{{ data.data_item.img.url }}" alt="" class="data-item__img">
                </div>
            {% endif %}
            <p data-encripted="{% if data_item.encription_status == 'Оригинал' %}True{% else %}False{% endif %}" class="encription-status data-item__status">
                {{ data.data_item.encription_status }}
            </p>
        </div>
    </div>
</div>
{% endblock %}