{% extends 'base.html' %}
{% load static %}
{% block title %}{{data.data_item.title}}{% endblock %}

{% block content %}
<div class="request-page">
<div class="request_info">
    <ul class="request_info-list">
        <h1>Информация о заявке</h1>
        <li class="request_info-item">ИД: {{ data.request.id }}</li>
        <li class="request_info-item">Дата создания: {{ data.request.creation_date }}</li>
        <li class="request_info-item">Статус: {{ data.request.work_status }}</li>
    </ul>
</div>
<div class="cards">
    {% for data_item in data.data_list %}
    <div class="card">
        <div class="card__wrapper">
            <div class="card__image-container">
                <div class="card__image">
                    <img src="{{ data_item.img_url }}" alt="" class="card__img">
                </div>
            </div>
            <div class="card__content">
                <p class="card__title">{{ data_item.title }}</p>
                <div class="card__buttons">
                    <a class="btn btn-primary card__more" href="{% url 'data_item' data_item.id %}">Подробнее</a>
                    <a class="btn btn-secondary card__add"><i class="bi bi-plus" style="font-size: 2em"></i></a>
                </div>
            </div>
            <p data-encripted="{% if data_item.encription_status == 'Оригинал' %}True{% else %}False{% endif %}" class="encription-status card__status"> {{ data_item.encription_status }} </p>
            <a class="card__del" href={% url 'delete_data_item' data_item.id %}><i class="bi bi-x-circle" style="font-size: 3em"></i></a>
        </div>
    </div>
    {% empty %}
    <p>Нет услуг</p>
    {% endfor %}
</div>
</div>


{% endblock %}