{% extends 'base.html' %} {% load static %} 
{% block title %}Encription{% endblock %} 

{% block search %}
<form class="nav__search search" action="{% url 'getServices' %}" method='GET'>
    <input
        name="services_search"
        type="search"
        class="search__input"
        placeholder="Search"
        maxlength="100"
        {% if search_value %}
            value={{ search_value }} 
        {% else %}
            value=""
        {% endif %}
    />
    <button class="search__button">Search</button>
</form>
{% endblock %}

{% block content %}
<div class="cards">
    {% for var in data.services_list %}
    <div class="card">
        <a href="{% url 'service' var.id %}" class="card__link">
            <div class="card__image-container">
                <div class="card__image">
                    <i class="{{ var.img }} card__icon"></i>
                </div>
            </div>
            <div class="card__content">
                <p class="card__title">{{ var.title }}</p>
                <p class="card__cost">{{var.cost}}&#8381;</p>
            </div>
        </a>
    </div>
    {% empty %}
    <p>Нет услуг</p>
    {% endfor %} 
</div>
{% endblock %}