{% extends 'base.html' %}

{% block title %}{{data.service.title}}{% endblock %}

{% block content %}
<div class="service">
    <div class="service__container">
        <div class="service__image-container">
            <div class="service__image">
                <i class="{{ data.service.img }} service__icon"></i>
            </div>
        </div>
        <div class="service__content">
            <p class="service__title">{{ data.service.title }}</p>
            <p class="service__description">{{ data.service.description }}</p>
            <div class="service__info">
                <p class="service__cost">Цена: {{ data.service.cost }}&#8381;</p>
                <button class="service__button">Оформить</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}